.icon {
	background-image: url('icons/sprite-1427992784407.svg');
}

.lt-ie9 {
	background-image: url('icons/sprite-1427992784407.png');
}


	.icon.icon--add {
		width: 20px;
		height: 20px;
		background-position: -0px 0;
	}

	.icon.icon--alert {
		width: 20px;
		height: 20px;
		background-position: -40px 0;
	}

	.icon.icon--avatar {
		width: 20px;
		height: 20px;
		background-position: -80px 0;
	}

	.icon.icon--back {
		width: 20px;
		height: 20px;
		background-position: -120px 0;
	}

	.icon.icon--badge {
		width: 20px;
		height: 20px;
		background-position: -160px 0;
	}

	.icon.icon--bullet-day {
		width: 20px;
		height: 20px;
		background-position: -200px 0;
	}

	.icon.icon--bullet-item {
		width: 20px;
		height: 20px;
		background-position: -240px 0;
	}

	.icon.icon--check {
		width: 20px;
		height: 20px;
		background-position: -280px 0;
	}

	.icon.icon--clock {
		width: 21px;
		height: 20px;
		background-position: -320px 0;
	}

	.icon.icon--decision {
		width: 20px;
		height: 20px;
		background-position: -361px 0;
	}

	.icon.icon--delete {
		width: 20px;
		height: 20px;
		background-position: -401px 0;
	}

	.icon.icon--disconnect {
		width: 20px;
		height: 20px;
		background-position: -441px 0;
	}

	.icon.icon--edit {
		width: 20px;
		height: 20px;
		background-position: -481px 0;
	}

	.icon.icon--evernote {
		width: 20px;
		height: 20px;
		background-position: -521px 0;
	}

	.icon.icon--facebook {
		width: 20px;
		height: 20px;
		background-position: -561px 0;
	}

	.icon.icon--google {
		width: 20px;
		height: 20px;
		background-position: -601px 0;
	}

	.icon.icon--knurr {
		width: 21px;
		height: 20px;
		background-position: -641px 0;
	}

	.icon.icon--linkedin {
		width: 20px;
		height: 20px;
		background-position: -682px 0;
	}

	.icon.icon--mail {
		width: 20px;
		height: 20px;
		background-position: -722px 0;
	}

	.icon.icon--menu {
		width: 20px;
		height: 20px;
		background-position: -762px 0;
	}

	.icon.icon--more {
		width: 20px;
		height: 20px;
		background-position: -802px 0;
	}

	.icon.icon--next {
		width: 20px;
		height: 20px;
		background-position: -842px 0;
	}

	.icon.icon--open-issue {
		width: 20px;
		height: 20px;
		background-position: -882px 0;
	}

	.icon.icon--options-1 {
		width: 20px;
		height: 20px;
		background-position: -922px 0;
	}

	.icon.icon--options-2 {
		width: 20px;
		height: 20px;
		background-position: -962px 0;
	}

	.icon.icon--options-3 {
		width: 20px;
		height: 20px;
		background-position: -1002px 0;
	}

	.icon.icon--plus {
		width: 20px;
		height: 20px;
		background-position: -1042px 0;
	}

	.icon.icon--previous {
		width: 20px;
		height: 20px;
		background-position: -1082px 0;
	}

	.icon.icon--refresh {
		width: 20px;
		height: 20px;
		background-position: -1122px 0;
	}

	.icon.icon--settings {
		width: 20px;
		height: 20px;
		background-position: -1162px 0;
	}

	.icon.icon--slack {
		width: 20px;
		height: 20px;
		background-position: -1202px 0;
	}

	.icon.icon--solid-full {
		width: 39px;
		height: 20px;
		background-position: -1242px 0;
	}

	.icon.icon--solid {
		width: 20px;
		height: 20px;
		background-position: -1301px 0;
	}

	.icon.icon--sunrise {
		width: 20px;
		height: 20px;
		background-position: -1341px 0;
	}

	.icon.icon--sunset {
		width: 20px;
		height: 20px;
		background-position: -1381px 0;
	}

	.icon.icon--task {
		width: 20px;
		height: 20px;
		background-position: -1421px 0;
	}

	.icon.icon--twitter {
		width: 20px;
		height: 20px;
		background-position: -1461px 0;
	}

	.icon.icon--voice {
		width: 20px;
		height: 20px;
		background-position: -1501px 0;
	}

	.icon.icon--wisembly-full {
		width: 89px;
		height: 20px;
		background-position: -1541px 0;
	}

	.icon.icon--wisembly {
		width: 20px;
		height: 20px;
		background-position: -1650px 0;
	}

