.icon {
	background-image: url('<%= spritePath %>.svg');
}

.lt-ie9 {
	background-image: url('<%= spritePath %>.png');
}

<% _.each(icons, function (icon, i) { %>
	.icon.icon--<%= icon.name %> {
		width: <%= icon.sizes.width %>px;
		height: <%= icon.sizes.height %>px;
		background-position: -<%= icon.positions.x %>px <%= icon.positions.y %>;
	}
<% }); %>
