.Icon {
	background-image: url('<%= fileName %><%= cacheBusting ? "-" + timestamp : "" %>.svg');
}

<% if (png) { %>
.lt-ie9 .Icon {
	background-image: url('<%= fileName %><%= cacheBusting ? "-" + timestamp : "" %>.png');
}
<% } %>

<% _.each(icons, function (icon, i) { %>
.<%= className %>.<%= className %>--<%= icon.name %> {
	display: inline-block;
	width: <%= icon.sizes.width %>px;
	height: <%= icon.sizes.height %>px;
	background-position: -<%= icon.positions.x %>px <%= icon.positions.y %>;
}
<% }); %>
